body{
  background-color: #87CEEB;
}
.container{
  padding: 5%;
}
.botones{
  border-radius: 10%;
  text-align: center;
  background-color: #b1d3ff;
}
.glyphicon{
  font-size: 150%;
  color:#0c0c40;
}
.img-CAROUSEL{
  text-align: center;
  width:40%;
}
.row.noticias{
  background-color: white;
  margin-top: 120px;
  text-align: center;
  color: #0c0c40;
}
.noticias{
  border: 30px;
}

.LOGO{
  max-width: 50%;
}
.FOOTER{
    background-color:#030d23;
    margin-bottom: 0;
    padding: 3%;
    color: white;
}
.MAP{
  max-height: 10px;
}

.FOOTER ul{
  list-style-type: none;
}
.HISTORIA{
  color:#068dcd;
  background-color:#B0E0E6;
}
