.logo{
  width:50px;
  display: inline-block;
}
.navbar{
  width: 100%;
  margin-top: 0;
  font-size: 15px;
  padding: 1.5vh;
  background-color: #92dec1;

}
.content{
  background-image: url(images/cloudy-day.png);
}
